@font-face {
  font-family: 'Betmo';
  src: url("../fonts/Betmo.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: auto
}

@font-face {
  font-family: 'CormorantInfant-Light';
  src: url("../fonts/CormorantInfant-Light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'LeJardin';
  src: url("../fonts/LeJardine.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto
}

@font-face {
  font-family: 'Patriciana';
  src: url("../fonts/Patriciana.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto
}

@font-face {
  font-family: 'Rotonda';
  src: url("../fonts/RotondaC.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto
}

@font-face {
  font-family: 'TildaSans-L';
  src: url("../fonts/TildaSans-L.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto
}

@font-face {
  font-family: 'TildaSans-R';
  src: url("../fonts/TildaSans-R.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto
}

@font-face {
  font-family: 'Vetrino';
  src: url("../fonts/Vetrino.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: auto
}

:root {
  --main-color: rgb(196, 216, 237);
  --white: rgb(255, 255, 255);
}

a {
  color: inherit;
}

/* АНИМАЦИИ */
.popInAnnimation {
  animation: popIn 2.5s 1 cubic-bezier(.215, .61, .355, 1) .5s backwards;
}

@-moz-keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(2)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@-webkit-keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(2)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@-o-keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(2)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(2)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

.zoomInAnnimationLeftHeart {
  animation: zoomInLeftHeart 2.5s 1 cubic-bezier(.215, .61, .355, 1) .5s backwards;
}

@keyframes zoomInLeftHeart {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-10deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

.zoomInAnnimationRightHeart {
  animation: zoomInRightHeart 2.5s 1 cubic-bezier(.215, .61, .355, 1) .5s backwards;
}

@keyframes zoomInRightHeart {
  0% {
    opacity: 0;
    transform: scale(0.5) scaleX(-1) rotate(-10deg);
  }

  to {
    opacity: 1;
    transform: scale(1) scaleX(-1) rotate(-10deg);
  }
}

.bloomAnimation {
  opacity: 0;
  animation: fadeIn 1.5s ease-out 1s both;
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

/* МЕНЮ С ЗАГОЛОВОКОМ */

header {
  display: flex;
  justify-content: start;
  padding: 10px;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  top: 0px;
  background: none;
  transition: 0.25s ease;
}

.menu-button {
  appearance: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: 0;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--main-color);
}

.fontAwesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.fontAwesome-bars:before {
  content: "\f0c9"
}

.fontAwesome-star:before {
  content: "\f005"
}

.fontAwesome-align-center:before {
  content: "\f037"
}

.fontAwesome-check-square-o:before {
  content: "\f046"
}

.fontAwesome-list-ul:before {
  content: "\f0ca"
}

.fontAwesome-map:before {
  content: "\f278"
}

.menu {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 1rem;
  font-family: TildaSans-R;
  border-radius: 1rem;
  padding: 0.5rem;
  background: var(--main-color);
}

.menu_hidden {
  display: none;
}

.menu-item {
  display: flex;
  font-size: 1.2rem;
  font-family: TildaSans-R;
  gap: 1rem;
  text-decoration: none;
}

.menu-item:hover {
  text-decoration: underline;
  color: var(--white);
}

/* ГЛАВНЫЙ БЛОК */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  text-align: center;
  gap: 1rem;
  width: 100dvw;
  height: 100dvh;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  transition: all .5s ease-out 0s;
}

.container_polaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.polaroid__with_heart {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.polaroid__heart {
  position: absolute;
  height: min(5vh, 10rem);
  width: min(5vh, 10rem);
  padding: 0;
}

.polaroid__heart_left {
  right: 100%;
  transform: rotate(-10deg);
}

.polaroid__heart_right {
  left: 100%;
  transform: scaleX(-1) rotate(-10deg);
}

.polaroid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;

  padding-top: 2vh;
  padding-bottom: 0vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  min-height: 10vh;
  height: 24vh;
  max-height: 90vh;
}

.polaroid__image {
  width: 90%;
  height: 90%;
}

.polaroid__caption {
  font-family: 'LeJardin';
  font-size: 3vh;
  width: 100%;
  height: 20%;
  align-items: center;
  color: #000000;
}

.plus {
  line-height: 1;
  font-size: 5vh;
  font-family: 'LeJardin';
  color: #000000;
  padding: 0;
  margin: 0;
  border: none;
}

.container_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.equation {
  font-family: 'LeJardin';
  font-size: 3vh;
  color: #000000;
}

.message {
  font-family: 'CormorantInfant-Light';
  font-size: 2.5vh;
  letter-spacing: 0.2em;
}

.date {
  font-size: 2.5vh;
  font-family: 'CormorantInfant-Light';
  letter-spacing: 0.1em;
}

.eventTracker {
  height: 5vh;
  justify-self: center;
}

.countdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2vw;
  font-family: 'CormorantInfant-Light';
  color: #000000;
}

.countdown__time_unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 3rem;
}

.countdown__number {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  font-weight: 900;
}

.countdown__caption {
  align-items: center;
  justify-content: center;
  font-size: 2vh;
}

.eventTracker__today {
  font-size: 4vh;
  font-weight: bold;
  font-family: 'CormorantInfant-Light';
}

.eventTracker__yet {
  font-size: 3vh;
  font-family: 'CormorantInfant-Light';
}

/* ПРИГЛАШЕНИЕ */

.invite-section {
  background: var(--main-color);
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.invite {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.87);
  width: 79%;
  height: 86%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  position: relative;
  margin: auto;
  max-width: 550px;
  gap: 0.5rem;
}

.invite__greeting {
  font-size: 2rem;
  font-family: Patriciana;
  color: rgb(0, 0, 0);
  text-align: center;
}

.invite__greeting__description {
  font-size: 1rem;
  font-family: TildaSans-R;
  color: rgb(0, 0, 0);
  text-align: center;
}

.invite__prase {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.prase__photo {
  margin: auto;
  width: 100%;
}

.prase__description {
  font-size: 1.8rem;
  font-family: LeJardin;
  color: rgb(0, 0, 0);
  text-align: center;
}

.invite__portrait {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
}

@media (max-width:500px) {
  .invite {
    width: 100%;
  }

  .invite__portrait {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .invite__prase {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.portrait__photo {
  border-radius: 12.5rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 2%;
}

.portrait__description {
  font-size: 1.8rem;
  font-family: LeJardin;
  color: rgb(0, 0, 0);
  text-align: center;
}

.invite__description__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  margin: auto;
  padding: 2rem;
}

@media (max-width:500px) {
  .invite__description__list {
    padding: 0;
  }
}

.invite__description {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.invite__description__header {
  font-size: 1.5rem;
  font-family: CormorantInfant-Light;
  color: rgb(0, 0, 0);
}

.invite__description__text {
  font-size: 1rem;
  font-family: TildaSans-R;
  color: rgb(0, 0, 0);
}

.invite__palitra {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width:500px) {
  .invite__palitra {
    min-width: 240px;
  }
}

.palitra__header {
  font-size: 1rem;
  font-family: TildaSans-R;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.palitra__colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.palitra__color {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: none;
}

/* ОПРОС */

.forms {
  display: block;
  align-items: center;
  height: 2000px;
  overflow: hidden;
}

.forms__iframe {
  height: 100%;
  width: 100%;
}

/* ПРОЩАНИЕ */

.invite__goodbye {
  padding-top: 4rem;
  font-size: 3rem;
  font-family: Betmo;
  color: rgb(0, 0, 0);
  text-align: center;
}

/* РАСПИСАНИЕ */

.timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
}

.timetable__header {
  font-family: CormorantInfant-Light;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  width: 100%;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  line-height: normal;
  text-align: center;
}

.timetable__content {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1rem;
  padding-bottom: 5rem;
  color: rgb(1, 41, 92);
  width: min(100%, 50rem);
}

.event {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem;
}

.event__time {
  font-size: 1rem;
  font-family: TildaSans-R;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: left;
}

.event__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event__title {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.event__title__name {
  font-family: TildaSans-R;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}

.event__title__address {
  font-family: TildaSans-R;
  color: rgb(116, 116, 116);
  font-size: 1rem;
}

.event__discription {
  font-family: Comforta;
  color: rgb(89, 78, 66);
  font-size: 1rem;
  padding-left: 0.5rem;
}

/* КАРТА */

.map {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--main-color);
}

/* ПОДВАЛ */

.footer {
  height: 10rem;
  background: rgb(0, 0, 0);
}

.footer__logo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: TildaSans-R;
  font-size: 1.5rem;
  gap: 1rem;
  color: rgb(255, 255, 255);
}